*.o
*.d
*.elf
*.map
*.img
*.out
*.fw
tags
*gitignore
/tools/fx3lafw-reset
/tools/fx3lafw-status
/tools/fx3lafw-usb-events
/tools/fx3lafw-load
/tools/fx3lafw-load-test
/tools/fx3lafw-ulpi-status
/tools/ulpi-capture-check
/tools/ulpi-capture-check-test
